$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$desktop: '(min-width: 1024px)';
$tablet: '(min-width: 481px) and (max-width: 1023px)';
$phone: '(max-width: 480px)';
$text: #fff;
$accent-color: #311b92;
$accent-hover: #32018f;

@media #{$desktop} {
  .navbar-collapse {
    padding-left: 0 !important;
  }

  #create-story {
    clear: left;
    float: right;
  }
}

@media #{$tablet} {
  .navbar-collapse {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  #create-story {
    clear: left;
    float: right;
  }
}

@media #{$phone} {
  .jumbotron {
    margin-bottom: 50px;
  }

  .stories {
    font-size: 1.2em!important;
    line-height: 1.5em;
    margin-top: 10%;
  }

  #create-story {
    height: 40px;
    width: 100%;
  }

  #story textarea {
    height: 200px;
    width: 320px;
  }

  #update-story textarea {
    height: 200px;
    width: 320px;
  }
}

body {
  background: url('http://fobtales.com/images/bg_image.png') no-repeat;
  background-size: cover;
  color: #ffffff;
  font-family: legal;
}

.logo {
  background: url('http://fobtales.com/images/fob_tales_logo.png') no-repeat;
  width: 180px;
  height: 100px;
  margin: 0 auto;
}

.style-main-header {
  text-align: center;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-toggle:hover {
  background-color: $text!important;
}

.navbar-toggle:focus {
  background-color: $text!important;
}

.align-nav-button {
  padding-left: 0;
}

.content-width {
  max-width: 205px;
}

.style-button-signout {
  display: none;
}

.style-button-password {
  display: none;
}

.btn-primary {
  background-color: transparent;
  border-color: transparent;
  color: $accent-color;
}

.btn-primary:focus {
  background-color: transparent!important;
  border-color: $accent-color;
  color: $accent-color;
}

.btn-primary:hover {
  background-color: transparent;
  border-color: $accent-color;
  color: $accent-color;
}

#style-signup {
  width: 150px;
  background-color: $accent-color;
  border-radius: 50px;
  color: $text;
}

#style-signup:hover {
  background-color: $accent-hover;
}

#style-signin {
  width: 150px;
  background-color: $accent-color;
  border-radius: 50px;
  color: $text;
}

#style-signin:hover {
  background-color: $accent-hover;
}

#style-signout {
  width: 150px;
  background-color: $accent-color;
  border-radius: 50px;
  color: $text;
}

#style-signout:hover {
  background-color: $accent-hover;
}

#style-changepassword {
  width: 150px;
  background-color: $accent-color;
  border-radius: 50px;
  color: $text;
}

#style-changepassword:hover {
  background-color: $accent-hover;
}

.user-name {
  color: $text;
  float: left;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.jumbotron {
  background: transparent;
  border: 1px solid $accent-color;
}

#create-story {
  background: $accent-color;
  border-radius: 50px;
  color: $text;
  display: none;
  height: 40px;
  width: 200px;
}

#create-story:hover {
  background: transparent;
  border-color: $accent-color;
  color: $accent-color;
}

#create-story:focus {
  background: transparent;
  border-color: $accent-color;
  color: $accent-color;
}

.stories {
  float: left;
  font-size: 1.7em;
  line-height: 1.5em;
}

.story:hover {
  color: $text !important;
  font-weight: 600;
}
