$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url( 'https://fonts.googleapis.com/css?family=Roboto:300');
$desktop: '(min-width: 1024px)';
$tablet: '(min-width: 481px) and (max-width: 1023px)';
$phone: '(max-width: 480px)';
$text: #fff;
$text-modal: #aaa;
$accent-color: #4286f4; //#311b92;
$accent-hover: #034cc1; //#32018f;

@media #{$desktop} {
  .navbar-collapse {
    padding-left: 0 !important;
  }

  .stories {
    font-size: 1.7em !important;
  }

  #create-story {
    clear: left;
    float: right;
  }
}

@media #{$tablet} {
  .navbar-collapse {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  #create-story {
    clear: left;
    float: right;
  }

  .stories {
    font-size: 1.5em !important;
  }
}

@media #{$phone} {
  .logo {
    max-width: 130px !important;
    margin: 0 auto 30px !important;
    margin-left: 10px !important;
  }

  .style-main-text {
    margin: 0 10px;
  }

  .nav-bar {
    font-size: 1.3em !important;
  }

  .stories{
    font-size: 1.2em !important;
    line-height: 2.5em;
    margin-top: 0 !important;
  }

  #create-story {
    height: 40px;
    position: absolute;
    right: 30px;
    top: 14%;
    width: 120px !important;
  }

  #story textarea {
    height: 200px;
  }

  #update-story textarea {
    height: 200px;
    width: 270px;
  }
}

html {
  min-height: 100%;
  padding-bottom: 70px;
}

body {
  background: url('https://raw.githubusercontent.com/skylarkJ/fobtales-client/46131bb087f11e78b285763d1b6a3f2c8bfbe578/assets/bg_image.png') no-repeat;
  background-size: 100% 100%;
  color: black;
  font-family: 'Roboto-light';
  padding-top: 15px;
}

p {
  color: $text;
  font-size: 1.3em;
  // line-height: 1.2em;
  margin-bottom: 10px;
}

.main-text {
  font-size: 1.3em;
}

.sub-text {
  font-size: 1.1em;
}

.style-main-text {
  margin: 0 30px;
}

.logo a,
.logo img {
  display: block;
}

.logo img {
  width: 100%;
  height: auto;
}

.logo{
  max-width: 177px;
  margin: 0 auto 60px;
}



.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-toggle:hover {
  background-color: $text !important;
}

.navbar-toggle:focus {
  background-color: $text !important;
}

.nav-bar {
  font-size: 1.5em;
}

.align-nav-button {
  padding-left: 0;
}

.content-width {
  max-width: 205px;
}

.style-button-signout {
  display: none;
}

.style-button-password {
  display: none;
}

.btn-primary {
  background-color: transparent;
  border-color: transparent;
  color: $accent-color;
}

.btn-primary:focus {
  background-color: transparent !important;
  border-color: $accent-color;
  color: $accent-color;
}

.btn-primary:hover {
  background-color: transparent;
  border-color: $accent-color;
  color: $accent-color;
}

.style-modalinside-btn {
  background-color: $accent-color;
  border-color: $accent-color;
  border-radius: 50px;
  border: 3px;
  color: $text;
  height: 35px;
  width: 150px;
}

.style-modalinside-btn:hover {
  background-color: $accent-hover;
}

#style-nav {
  margin-bottom: 0;
}

.user-name {
  color: $text;
  float: left;
  font-size: 1.2em;
  margin-bottom: 10px;
}


#create-story {
  background: $accent-color;
  border-radius: 50px;
  color: $text;
  display: none;
  height: 40px;
  width: 200px;
}

#create-story:hover {
  background: transparent;
  border-color: $accent-color;
  color: $accent-color;
}

#create-story:focus {
  background: $accent-color;
  border-color: $accent-color;
  color: $accent-color;
}

#create-story:active{
  background: $accent-color;
  border-radius: 50px;
  color: $text;
}

.stories {
  float: left;
  font-size: 1.7em;
  line-height: 1.5em;
}

#modalStory .story {
  color: black !important;
}

#modalStory .story:hover {
  color: black !important;
}

.story:hover {
  color: $text;
  font-weight: 600;
}

.story {
  color: $text;
}

.style-field {
  min-width: 100%;
}
